@charset "UTF-8";

.hidden {
	display: none;
}

.l1_boxing_ring {
	position: absolute;
	transform: translate(19%, 0%);
}

.l1_boxing_ring2 {
	position: absolute;
	transform: translate(19%, 0%);
}

.l3_discussion_zone {
	position: absolute;
	transform: translate(18.25%, -100%);
}

.l3_social_kitchen {
	position: absolute;
	transform: translate(18.25%, -100%);
}

.l3_social_kitchen2 {
	position: absolute;
	transform: translate(18.25%, -100%);
}

.tier1{
  color:#f2f;
	-webkit-animation: flash linear 1.5s infinite;
	animation: flash linear 2s infinite;
}

.tier2{
  color:#f2f;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

.tier3{
  color:#f2f;
	-webkit-animation: flash linear 0.5s infinite;
	animation: flash linear 0.5s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
/* Pulse class and keyframe animation */
.pulseit{
	-webkit-animation: pulse linear .5s infinite;
	animation: pulse linear .5s infinite;
}
@-webkit-keyframes pulse {
	0% { width:200px; } 
	50% { width:340px; } 
	100% { width:200px; }
}
@keyframes pulse {
	0% { width:200px; } 
	50% { width:340px; } 
	100% { width:200px; }
}